@import "../../styles/variable.sass"
@import "../../styles/mixins.sass"

.container
    width: 100%
    @include flex($direction: column, $align:flex-start,$justify:flex-start)
    gap: 2px
    color: rgba(255, 255, 255,0.95)

    label
        @include typografy-input-label()
        


    .inputContainer
        width: 100%
        @include flex( $justify:flex-start)
        
        .icon
            position: absolute
            font-size: 30px

        input 
            width: 100%
            height: 50px
            border-left: none
            border-right: none
            border-top: none
            border-bottom: $border-width $border-style $border-color
            @include typografy-input()
            background: none
            padding-left: 40px

            &:focus
                outline: none
            
            &::placeholder
                color: rgba(255, 255, 255,0.6)
            
                
            
